*{
margin: 0;
padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
list-style-type: none;
}

.header{
    /* responsavel por alinhar os itens  lado a lado */

    background-color:#55d81e ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    flex-wrap: wrap; 
      /* voce pode quebrar os itens para ajustar minha tela */
    
      
}

.header i{
    font-size: 100px;
    color: #a82743;
  
   
}

.header.fa-solid{
    /* coloca o tamanho que vc quiser */
    font-size: 100px;
    color: #259b9b;
}

.menu li a{
/* nâo quero uma linha em baixo do link */
text-decoration: none;
color: #050404;
padding: 10px;
background-color: #96deea;
}

.menu li{
    /* separa os link deixando um no lado da outra */
    margin-left: 0px;
}

.menu{
    /* separa os itens */
    display: flex;
    
}

h1{
    text-align: center;
    margin-top: 100px;
    color:#e1e12b ;
    border-radius: 10px;
    border: solid #e1e12b ;
}

p{
    color: #081963;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex{
    /* aqui atribuimoss a imagem ao lado  */
 display: flex;
 /* aqui informamos que os itens podem quebrar para se acadepar em telas menores */
 max-width: 1100px;
 /* ele vai centralizar as div-s */
 margin: 0 auto;
 /* centralizar as div-s */
 margin-bottom: 80px;
 /* margem inferiror da minha section */
 align-items: center;
 flex-wrap: wrap;
 /* serve para quebrar uma linha */
 

}

.flex img{
/* adaptacao maxima da imagem na pagina da div */
max-width: 200px;
/* reforçando que minhas imagens estejam em formato de bloco */
display: block;
}

.flex div{
    margin: 80px;
    /* espaçamento das margens laterais  */
    flex: 1 1 200px;
    /* aumenta o tamanho */
}

.caixa{
    background-color: #a82743;
    color: aliceblue;
    padding: 100px;
    font-size: 20px;
}


.rodape{
    background-color: #081963;
    padding: 70px;
    color:#fffffc ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.list-rodape{
    display: flex;
}

.list-rodape li{
    margin-right: 20px;
    list-style: none;
}

.list-rodape li a{
text-decoration: none;
color: #259b9b;
font-size: 25px;
}

.list-rodape li a:hover{
    color: #fffffc;
    transition: 0,8s;
}

.rodape i{
    color: #9b252b;
    font-size: 25px;
    padding: 15px;
    margin-left: 10px;
    background-color:#01e804 ;
    border-radius: 5px;
}










